<h2>ACTIOS</h2>
<app-button (click)="onToggleSpinner()">Toggle spiner</app-button>
<app-button (click)="onError()">Error</app-button>
<app-button (click)="onSuccess()">succes</app-button>
<br /><br /><br />
<h2>FORMULARIOS DE ANGULAR</h2>
<div class="wrapper">
  <app-spinner *ngIf="showSpinner"></app-spinner>
</div>
<div>
  <form [formGroup]="form" novalidate autocomplete="off" (submit)="onSubmit()">
    <app-button type="submit">Submit</app-button>
    <app-button (click)="organizarElemento()">Organizar</app-button>
    <app-button (click)="onPatchValue()">Agregar Texto</app-button>
    <app-button (click)="onToggleDisable()">Disabled</app-button>
    <br />
    <br />
    <app-form-field
      label="Input Vaxi"
      [required]="true"
      [control]="form.controls['input']"
      [isInline]="isInline"
      [patternError]="regexErrors.email"
    >
      <app-input formControlName="input"></app-input>
    </app-form-field>

    <app-form-field
      label="Password"
      [required]="true"
      [control]="form.controls['password']"
      [isInline]="isInline"
    >
      <app-password formControlName="password"></app-password>
    </app-form-field>

    <app-form-field
      label="select"
      [required]="true"
      [control]="form.controls['select']"
      [isInline]="isInline"
    >
      <app-select formControlName="select" [items]="items"></app-select>
    </app-form-field>
    <app-form-field
      label="checkboxes"
      [required]="true"
      [control]="form.controls['checkboxes']"
      [isInline]="isInline"
    >
      <app-checkboxes
        formControlName="checkboxes"
        [items]="items"
      ></app-checkboxes>
    </app-form-field>
    <app-form-field
      label="radios"
      [required]="true"
      [control]="form.controls['radios']"
      [isInline]="isInline"
    >
      <app-radios formControlName="radios" [items]="items"></app-radios>
    </app-form-field>
    <app-form-field
      label="Date"
      [required]="true"
      [control]="form.controls['date']"
      [isInline]="isInline"
    >
      <app-date formControlName="date" placeholder="Date"></app-date>
    </app-form-field>

    <app-form-field
      label="Date Range"
      [required]="true"
      [control]="form.controls['dateRange']"
      [isInline]="isInline"
    >
      <app-date-range formControlName="dateRange"></app-date-range>
    </app-form-field>
    <app-form-field
      label="AutoComplete"
      [required]="true"
      [control]="form.controls['autoComplete']"
      [isInline]="isInline"
    >
      <app-auto-complete
        formControlName="autoComplete"
        [items]="items"
      ></app-auto-complete>
    </app-form-field>
  </form>
</div>
