<h2>BASE</h2>

<h1>H1 TITLE</h1>
<h2>H2 TITLE</h2>
<h3>H3 TITLE</h3>
<h4>H4 TITLE</h4>
<h5>H5 TITLE</h5>
<h6>H6 TITLE</h6>

<p>Siguiend el curso uwu</p>

<h3>LINKS</h3>
<a class="app-a">LINK 1</a>
<a class="app-a">LINK 2</a>
<a class="app-a">LINK 3</a>

<h3>BUTTON</h3>

<button class="app-button">BOTON</button>

<h3>code</h3>
<code>const parameter=100</code>

<h3>input</h3>
<input type="text" class="app-input" />
<h1>mixins</h1>
<h3>shadow</h3>
<div class="shadow">SHADOW GARDEN</div>
<div class="card"></div>
