$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000;

$primary: #006B7C;
$primary-dark: #23727f;
$primary-light: #68d1ce;
$on-primary: #000000;

$secundary: #c3fcf2;
$secundary-dark: #5d938a;
$secundary-light: #e8fefa;
$on-secundary: #000f02;

//background-image: linear-gradient(to right top, #23727f, #3a8592, #4f98a6, #64acba, #78c0ce);

$error: #b00020;
$on-error: #ffffff;

$success: #99aa00;
$on-success: #ffffff;
